.header{
    font-size: 30px;
    box-shadow: 5px 5px 5px grey;
    width: 100%;
    margin-top: 0px;
    background-color: aqua;
}

h3{
    font-size: 30px;
}

.footer{
    box-shadow: 5px 5px 5px grey;
    bottom:0;
    position: fixed;
    background-color: rgb(139, 139, 139);
    font-size: 30px;
    width: 100%;
    color: white;
}

.note{
    color: greenyellow;
}

canvas{
    border: 2px dashed blue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    background-color: white;
}